/* ############# */
/* COLOR PALETTE */
/* ############# */
/* dracula */
@define-color background #282a36;
@define-color current_line #44475a;
@define-color selection #44475a;
@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

* {
  font-family: "JetBrainsMono Nerd Font";
  /* font-family: "MesloLGSDZ Nerd Font"; */
}

/* Making the entire bar transparent */
window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: @foreground;
}

.modules-center {
  border-radius: 0 0 0.8rem 0.8rem;
}

/* ALL */
#workspaces {
  color: white;
  margin: 4px 0px 4px 0px;
  border: 0px solid #181825;
}

/* #### */
/* LEFT */
/* #### */
#window {
  border-radius: 1rem;
  padding: 0 15px 0 15px;
}
#window {
  color: @purple;
  background-color: @current_line;
}
window#waybar.empty #window {
  background-color: rgba(0, 0, 0, 0);
}

/* ###### */
/* CENTER */
/* ###### */
.modules-center {
  border-radius: 1rem;
  opacity: 1;
  background-color: @background;
  padding: 0 0.5rem 0 0.5rem;
}
#workspaces {
  opacity: 1;
  color: @foreground;
}
#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color: @foreground;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
#workspaces button.active {
  background: @red;
  color: @foreground;
  margin-left: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
#workspaces button:hover {
  background: @cyan;
  border: none;
}
#workspaces {
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

/* ##### */
/* RIGHT */
/* ##### */
.modules-right {
  background-color: rgba(0, 0, 0, 0);
}
#battery,
#backlight,
#temperature,
#clock,
#network,
#cpu,
#memory,
#pulseaudio {
  border-radius: 1rem;
  padding: 0 15px 0 15px;
}
#battery {
  margin: 0;
  background-color: @cyan;
  color: @background;
}
#backlight {
  background-color: @pink;
  color: black;
}
#temperature {
  margin: 0;
  background-color: @purple;
  color: @background;
}
#clock {
  /* margin: 0; */
  background-color: @orange;
  color: @background;
}
#cpu {
  background-color: @current_line;
}
#memory {
  background-color: @comment;
}
#network {
  margin: 0;
  /* padding-left: 15px; */
  /* padding-right: 15px; */
  background-color: @background;
  /* colors are defined in the modules itself */
}
#pulseaudio {
  background-color: @yellow;
  color: black;
}
#pulseaudio.muted {
  background-color: @red;
}
